@import "../../assets/theme/theme";

.container-item-sidebar {
  background-color: #000;
  width : calc(180px - map-get($space, "space-sm"));
  height: auto;
  display: flex;
  &:hover{
    .container-item-sidebar-icon {
      color: map-get($map: $colors, $key: gray);
      padding-left: map-get($space, "space-sm");
    }
    .container-item-sidebar-text {
      color: map-get($map: $colors, $key: gray);
      padding-left: map-get($space, "space-sm");
    }
    cursor: pointer;
  }

  .container-item-sidebar-icon, .container-item-sidebar-text {
    @include headline6;
    color: map-get($map: $colors, $key: darkGray);
    padding: map-get($space, "space-xs");
    transition: all 0.3s ease-out;
  };
}
