@import "../../assets/theme/theme";

.link{
  text-decoration: none;
  .container-item-sidebar {
    background-color: #000;
    height: 56px;
    display: flex;
    &:hover{
      .container-item-sidebar-icon {
        color: var(--light-text2);
        padding-left: var(--space-sm);
      }
      .container-item-sidebar-text {
        color: var(--light-text2);
        padding-left: var(--space-sm);
      }
      cursor: pointer;
    }
    .container-item-sidebar-icon{
      font-size: var(--text-md);
    }

    .container-item-sidebar-icon, .container-item-sidebar-text {
      color: var(--light-text3);
      padding: var(--space-xs);
      transition: all 0.3s ease-out;
      display: flex;
      align-items: center;
    };
  }
}
