//LATO
@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato/Lato-Black.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-BlackItalic';
  src: url('../fonts/Lato/Lato-BlackItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato/Lato-Bold.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato/Lato-BoldItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato/Lato-Light.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-LightItalic';
  src: url('../fonts/Lato/Lato-LightItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-Thin';
  src: url('../fonts/Lato/Lato-Thin.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-ThinItalic';
  src: url('../fonts/Lato/Lato-ThinItalic.ttf');
  format : 'truetype'
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato/Lato-Regular.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato/Lato-Italic.ttf');
  format : 'truetype'
};

//TAVIRAJ

@font-face {
  font-family: 'Taviraj-Black';
  src: url('../fonts/Taviraj/Taviraj-Black.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-BlackItalic';
  src: url('../fonts/Taviraj/Taviraj-BlackItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-Bold';
  src: url('../fonts/Taviraj/Taviraj-Bold.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-BoldItalic';
  src: url('../fonts/Taviraj/Taviraj-BoldItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-Light';
  src: url('../fonts/Taviraj/Taviraj-Light.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-LightItalic';
  src: url('../fonts/Taviraj/Taviraj-LightItalic.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-Thin';
  src: url('../fonts/Taviraj/Taviraj-Thin.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-ThinItalic';
  src: url('../fonts/Taviraj/Taviraj-ThinItalic.ttf');
  format : 'truetype'
}
@font-face {
  font-family: 'Taviraj-Regular';
  src: url('../fonts/Taviraj/Taviraj-Thin.ttf');
  format : 'truetype'
};
@font-face {
  font-family: 'Taviraj-Italic';
  src: url('../fonts/Taviraj/Taviraj-Thin.ttf');
  format : 'truetype'
};