@import '../../assets/theme/theme';

.container-content {
	background-color: #fff;
	padding: map-get($map: $space, $key: 'space-sm');
	margin-top: map-get($map: $space, $key: 'space-sm');
	margin-bottom: map-get($map: $space, $key: 'space-sm');
	margin-right: map-get($map: $space, $key: 'space-sm');
	margin-left: 180px;
	width: 100%;
	height: 100vh;
	border-radius: map-get($map: $dimensions, $key: 'bigBorderRadius');
	z-index: 100;
}
